*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}


h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 48px;
}

.megacontainer
{
    margin: auto;
}

.container
{
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(6, 60px);
}

.day
{
    margin: auto;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

#twentyfive
{
    width: 110px;
    height: 110px;
    text-align: center;
    font-size: 4em;
    vertical-align: middle;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}